// fonts
$mainFont: 'Roboto', sans-serif;

// Color
$bgColor: #42b983;
$bgColor-sub: #d3d3d3;
$bgColor-white: #fff;
$borderColor: #e8e8e8;
$btnColor: #333;

// font color
$fontColor: #333;
$fontColor-sub: #fff;

// icon color
$icon-serch: #888;
$icon-check: #888;
$icon-bin: #ff4d4d;

// error color
$errorColor: #ff4d4d;
